<%= f.text_area :text, :class => "field col-md-12" , :id=>"markItUp"%>

<% if params[:reply_to_id] %>
  <%= f.hidden_field :reply_to_id, :value => params[:reply_to_id] %>
<% end %>


<%post = @post%>
<% if !post.nil? && post.owner_or_admin?(forem_user) %>
    <% if !post.post_assets.nil? && post.post_assets.length>0  %>
        <span style="display: inline-block; padding-left: 15px; color: #9b9b9b; text-transform: uppercase; font-size: 1.2em;"><%=t("forem.post.post-images")%></span>
        <div style="margin:auto; text-align: center;">
          <%post.post_assets.each do |image|%>
              <%=image_tag image.asset.url(:postimage)%>
          <%end%>
        </div>
    <% end %>
<%end%>



<script type="text/javascript" >

    function callFileFormSelect(){
        $("#upload-post-image-field").trigger('click');
    }

    function submitForm(object){
        object.submit();
    }


</script>

<% if !post.nil? && post.owner_or_admin?(forem_user) %>
    <script>
        var withPictureSettings = htmlSettings = {
            onShiftEnter:	{keepDefault:false, replaceWith:'<br />\n'},
            onCtrlEnter:	{keepDefault:false, openWith:'\n<p>', closeWith:'</p>\n'},
            onTab:			{keepDefault:false, openWith:'	 '},
            markupSet: [
                {name:'Heading 1', key:'1', openWith:'<h1(!( class="[![Class]!]")!)>', closeWith:'</h1>', placeHolder:'Your title here...' },
                {name:'Heading 2', key:'2', openWith:'<h2(!( class="[![Class]!]")!)>', closeWith:'</h2>', placeHolder:'Your title here...' },
                {name:'Heading 3', key:'3', openWith:'<h3(!( class="[![Class]!]")!)>', closeWith:'</h3>', placeHolder:'Your title here...' },
                {name:'Heading 4', key:'4', openWith:'<h4(!( class="[![Class]!]")!)>', closeWith:'</h4>', placeHolder:'Your title here...' },
                {name:'Heading 5', key:'5', openWith:'<h5(!( class="[![Class]!]")!)>', closeWith:'</h5>', placeHolder:'Your title here...' },
                {name:'Heading 6', key:'6', openWith:'<h6(!( class="[![Class]!]")!)>', closeWith:'</h6>', placeHolder:'Your title here...' },
                {name:'Paragraph', openWith:'<p(!( class="[![Class]!]")!)>', closeWith:'</p>' },
                {separator:'---------------' },
                {name:'Bold', key:'B', openWith:'(!(<strong>|!|<b>)!)', closeWith:'(!(</strong>|!|</b>)!)' },
                {name:'Italic', key:'I', openWith:'(!(<em>|!|<i>)!)', closeWith:'(!(</em>|!|</i>)!)' },
                {name:'Stroke through', key:'S', openWith:'<del>', closeWith:'</del>' },
                {separator:'---------------' },
                {name:'Ul', openWith:'<ul>\n', closeWith:'</ul>\n' },
                {name:'Ol', openWith:'<ol>\n', closeWith:'</ol>\n' },
                {name:'Li', openWith:'<li>', closeWith:'</li>' },
                {separator:'---------------' },
                {name:'Picture', key:'P', replaceWith: function (markItUp) {
                    callFileFormSelect();
                    return false;} },
                {name:'Link', key:'L', openWith:'<a href="[![Link:!:http://]!]"(!( title="[![Title]!]")!)>', closeWith:'</a>', placeHolder:'Your text to link...' },
                {separator:'---------------' },
                {name:'Clean', className:'clean', replaceWith:function(markitup) { return markitup.selection.replace(/<(.*?)>/g, "") } },
                {name:'Preview', className:'preview', call:'preview' }

            ]
        }

        $("#markItUp").markItUp(withPictureSettings);
    </script>
<%else%>
    <script>

        var withoutPictureSettings = htmlSettings = {
            onShiftEnter:	{keepDefault:false, replaceWith:'<br />\n'},
            onCtrlEnter:	{keepDefault:false, openWith:'\n<p>', closeWith:'</p>\n'},
            onTab:			{keepDefault:false, openWith:'	 '},
            markupSet: [
                {name:'Heading 1', key:'1', openWith:'<h1(!( class="[![Class]!]")!)>', closeWith:'</h1>', placeHolder:'Your title here...' },
                {name:'Heading 2', key:'2', openWith:'<h2(!( class="[![Class]!]")!)>', closeWith:'</h2>', placeHolder:'Your title here...' },
                {name:'Heading 3', key:'3', openWith:'<h3(!( class="[![Class]!]")!)>', closeWith:'</h3>', placeHolder:'Your title here...' },
                {name:'Heading 4', key:'4', openWith:'<h4(!( class="[![Class]!]")!)>', closeWith:'</h4>', placeHolder:'Your title here...' },
                {name:'Heading 5', key:'5', openWith:'<h5(!( class="[![Class]!]")!)>', closeWith:'</h5>', placeHolder:'Your title here...' },
                {name:'Heading 6', key:'6', openWith:'<h6(!( class="[![Class]!]")!)>', closeWith:'</h6>', placeHolder:'Your title here...' },
                {name:'Paragraph', openWith:'<p(!( class="[![Class]!]")!)>', closeWith:'</p>' },
                {separator:'---------------' },
                {name:'Bold', key:'B', openWith:'(!(<strong>|!|<b>)!)', closeWith:'(!(</strong>|!|</b>)!)' },
                {name:'Italic', key:'I', openWith:'(!(<em>|!|<i>)!)', closeWith:'(!(</em>|!|</i>)!)' },
                {name:'Stroke through', key:'S', openWith:'<del>', closeWith:'</del>' },
                {separator:'---------------' },
                {name:'Ul', openWith:'<ul>\n', closeWith:'</ul>\n' },
                {name:'Ol', openWith:'<ol>\n', closeWith:'</ol>\n' },
                {name:'Li', openWith:'<li>', closeWith:'</li>' },
                {separator:'---------------' },
                {name:'Clean', className:'clean', replaceWith:function(markitup) { return markitup.selection.replace(/<(.*?)>/g, "") } },
                {name:'Preview', className:'preview', call:'preview' }

            ]
        }
        $("#markItUp").markItUp(withoutPictureSettings);
    </script>
<%end%>
