<% if can?(:read, category) %>
  <div id='category_<%= category.id %>' class='category-block'>
    <span class="category-title"><%= link_to forem_emojify(category.name), [forem, category] %></span>
    <%= render "/forem/forums/listing", :category => category %>
  </div>
<% end %>
