<%= render :partial => 'forem/forums/head', :locals => { :forum => @topic.forum } %>
<div class="forum-horizontal-line"></div>
<div style="margin-top: 35px;">
<!--<h2><%= t("forem.topic.new") %></h2>-->

<%= render "form" %>
</div>
